<div class="nav-container">
            <!-- header list -->
            <!-- nav section in css -->
            <nav>  
                <%= image_tag("logo.png",class: "logo") %>
                <ul>
                    <li><a href="/">الصفحة الرئيسية</a></li>
                    <li><a href="/cars">السيارات</a></li>
                    <li><a href="/#qualites">ماذا نقدم لكم</a></li>
                    <li><a href="/#about">من نحن</a></li>
                    <li><a href="/#contact">تواصل معنا</a></li>
                </ul>
            </nav>
</div>