       <!-- moving screen -->
            <!-- hero section in css -->
            <div class="hero">
                <div class="content">
                    <h1>آجر <span>سيارتك </span>من بيتك </h1>
                    <h3>
                        <span>Ejaro </span>  هو اول تطبيق مرخص لمشاركة السيارات بين الافراد
                    </h3>
                    <button class="btn"><a href="/cars">السيارات</a></button>
                </div>
            </div>

            <!-- ماذا نقدم لكم All qualites in homepage  -->
            <section id="qualites" class="qualites">
                <h2>ماذا نقدم لكم</h2>
            
                <div class="quality-container">
                    <div class="quality">
                        <div class="header-container">
                            <h3> <i class="fa-solid fa-circle-question"></i>كيفيه الاستخدام</h3>
                        </div> 
                            <p>آدرج سيارتك مجاناً في آول منصة مرخصة لمشاركة السيارات من شخص لشخص في المملكة العربيه السعودية</p>
                    </div>

                    <div class="quality">
                        <div class="header-container">
                            <h3> <i class="fa-solid fa-shield-heart"></i>السلامة والآمان</h3>
                        </div>  
                            <p>نقوم بفحص جميع المستخدمين والمركبات داخل مجتمعنا لراحه بالك</p>
                    </div>

                    <div class="quality">
                        <div class="header-container">
                            <h3> <i class="fa-solid fa-car-burst"></i>التآمين</h3>
                        </div>  
                            <p>تقدم إيجارو آول بوليصة تآمين من شخص لشخص في المملكة لتلبية احتياجاتك</p>
                    </div>
                </div>
            </section>

            <!-- من نحن في هوم بيج -->
            <section id="about" class="about-container">
                <div class="about-us">
                    <div class="about-content">
                        <h2>من نحن؟ </h2>
                        <p>
                            نحن اول مجتمع مرخص لمشاركة المركبات بين الآفراد في المملكة العربيه السعودية ، تقدر تزيد فيها مصدر دخلك بمشاركة سيارتك في التطبيق
                        </p>
                    </div>
                        <%= image_tag("car1.jpeg") %>
                </div>
            </section>

            <!-- تواصل معنا   -->
            <section id="contact" class="cards-contact">
                <h2>تواصل معنا عبر</h2>
                <div class="content-cards">

                    <div class="card">
                        <div class="icon">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="info">
                            <h3>الهاتف</h3>
                            <p>920033991</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="info">
                            <h3>البريد الالكتروني</h3>
                            <p>support@ejaro.com</p>
                        </div>
                    </div>

                </div>
            </section>
