                        <%# The last page is thanks %>

<div class="box">
<h2>THANK YOU</h2>
<p class="thank">We have received your booking request.</p>
</div>

<script>
    var b = localStorage.getItem("myValue");
    alert("Thank You ..")
    var resetValue = 0;
    localStorage.setItem("myValue" , resetValue)
</script>